TKUIKit.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TKUIKit.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TKUIKit.xcodeproj/project.xcworkspace/xcuserdata/lap01135.xcuserdatad/UserInterfaceState.xcuserstate
TKUIKit.xcodeproj/xcuserdata/lap01135.xcuserdatad/xcschemes/xcschememanagement.plist
